body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #FFF, #808080);
    overflow-x: hidden;
}

.calculator{
    max-width: 420px;
    height: 320px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #808080;
    border-radius: 20px;
    margin: auto;
    margin-top: 2em;
    border: 1px solid #000;
    box-shadow: 0 3px #000;
}
.display{
    width: 85%;
    height: 30px;
    background-color:rgba(red, green, blue, alpha);
    color: #000;
    text-align-last: right;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;
    border: 5px;
    float: center;
    margin: 20px;
    overflow: auto;
}
.deleters {
    float: right;
    margin-right: 32px;
}
.deleters >button {
    background-color:darkgray;
    width: 50px;
    height: 30px;
    border-color: black;
    border-radius: 7px;
    border: 8px;
}

.operators{
    width: 120px;
    height: 180px;
    float: right;
    margin: 10px;
}
.operators >button {
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 1px;
    border-radius: 5px;
    border: 2px;
    border-color: white;
    padding: 5px;
}

.numbers {
    width: 250px;
    height:180px;
    justify-content: center;
    float: left;
    margin: 0px 10px;
}
.numbers >button {
    background-color : #000;
    color: #FFF;
    width: 75px;
    height: 40px;
    margin: 2px;
    padding: 0px;
    border-radius:10px;
    border: 10px;
    border-color: white;
    border-spacing: 5px;
}
button {
    cursor: pointer;
    box-shadow: 0 5px grey;
}
button:active {
    box-shadow: 0 1px darkslategray;
    transform: translateY(3px);
}