.calculator{
    width: 340px;
    height: 330px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(27, 45, 45);
    border-color: black;
    border-radius: 20px;
    border: 5px;
    margin: auto;
}
.display{
    width: 290px;
    height: 30px;
    background-color: grey;
    text-align-last: right;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;
    border: 5px;
    border-color: black;
    float: center;
    margin: 20px;
}
.deleters {
    float: right;
    margin-right: 20px;
}
.deleters >button {
    background-color:red;
    width: 50px;
    height: 30px;
    border-color: black;
    border-radius: 7px;
    border: 8px;
}

.operators{
    width:40px;
    height: 180px;
    float: right;
    margin: 10px;
}
.operators >button {
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 1px;
    border-radius: 5px;
    border: 2px;
    border-color: white;
    padding: 5px;
}

.numbers {
    width: 250px;
    height:180px;
    justify-content: center;
    float: left;
    margin: 10px;
}
.numbers >button {
    background-color : orange;
    color: black;
    width: 75px;
    height: 40px;
    margin: 2px;
    padding: 0px;
    border-radius: 25px;
    border: 10px;
    border-color: white;
    border-spacing: 5px;
}
button {
    cursor: pointer;
    box-shadow: 0 5px grey;
}
button:active {
    box-shadow: 0 1px darkslategray;
    transform: translateY(3px);
}